{% extends "base.html" %} {% block header_script %}
<script src="https://accounts.google.com/gsi/client" async defer></script>
{% endblock %} {% block content %}
<div class="border rounded-4">
	<div class="text-center p-4">
		<div class="alert mt-3 d-none" id="show-message" role="alert"></div>

		<div id="sign-in-form">
			<h2 class="mb-5">Sign In</h2>
			<div class="mb-3">
				<input type="email" class="form-control" id="sign-in-email" placeholder="Email" />
			</div>
			<div class="mb-3">
				<input type="password" class="form-control" id="sign-in-password" placeholder="Password" />
			</div>
			<button class="btn btn-primary w-100" id="sign-in-button">Sign In</button>
			<div class="mt-3">
				<button class="btn btn-secondary w-100" onclick="toggleForms(true)">I Don't Have an Account</button>
			</div>
			<!-- <div class="mt-3">
				<div
					id="g_id_onload"
					class="w-100"
					data-client_id="{{cid}}"
					data-callback="handleCredentialResponse"
				></div>
				<div class="g_id_signin" data-type="standard"></div>
			</div> -->
		</div>

		<div id="sign-up-form" style="display: none">
			<h2 class="mb-5">Sign Up</h2>
			<div class="mb-3">
				<input type="text" class="form-control" id="sign-up-name" placeholder="Name" />
			</div>
			<div class="mb-3">
				<input type="email" class="form-control" id="sign-up-email" placeholder="Email" />
			</div>
			<div class="mb-3">
				<input type="password" class="form-control" id="sign-up-password" placeholder="Password" />
			</div>
			<button class="btn btn-primary w-100" id="sign-up-button" onclick="signUp()">Sign Up</button>
			<div class="mt-3">
				<button class="btn btn-secondary w-100" onclick="toggleForms(false)">Already Have an Account</button>
			</div>
		</div>
	</div>
</div>
{% endblock %} {% block script %}
<style>
	.container {
		max-width: 500px;
		margin-top: 50px;
	}
</style>
<script type="module" src="/static/firebase-auth.js"></script>
<script>
	function toggleForms(showSignUp) {
		document.getElementById('sign-up-form').style.display = showSignUp ? 'block' : 'none';
		document.getElementById('sign-in-form').style.display = showSignUp ? 'none' : 'block';
	}

	async function signUp() {
		const email = document.getElementById('sign-up-email').value;
		const password = document.getElementById('sign-up-password').value;
		const name = document.getElementById('sign-up-name').value;

		if (email && password && name) {
			document.getElementById('sign-up-button')?.setAttribute('disabled', 'true');
			const response = await fetch('/sign-up', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({ email, password, name }),
			});
			const data = await response.json();
			if (!!data.uid) {
				showMessage(data.message, 'success');
				toggleForms(false);
			}
			!!data.error && showMessage(data.error, 'danger');
			document.getElementById('sign-up-button')?.removeAttribute('disabled');
		} else showMessage('Please enter both name, email and password.', 'danger');
	}

	// async function handleCredentialResponse(g_resp) {
	// 	// Handle the credential response for Google Sign-In
	// 	console.log('Encoded JWT ID token: ' + g_resp.credential);
	// 	const response = await fetch('/auth', {
	// 		method: 'POST',
	// 		headers: {
	// 			'Content-Type': 'application/json',
	// 		},
	// 		body: JSON.stringify({ idToken: g_resp.credential }),
	// 	});
	// 	const data = await response.json();
	// 	data.error && showMessage(data.error, 'danger');
	// }
</script>
{% endblock %}
