{% extends "base.html" %}

{% block header_script %}
<script type="text/javascript" src="/static/register-service-worker.js"></script>
{% endblock %}


{% block content %}
<div class="mt-10">
	<h1 class="text-center text-primary">GEMS Deployment Status</h1>

	<div class="text-center mb-3">
		<button id="registerButton" class="btn btn-primary">Subscribe</button>
	</div>

	<div id="service-block" class="row">
		<form>
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title text-success">Stage</h5>
					</div>
					<div class="card-body">
						{% for s in services %}
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="stage_{{s}}" />
							<label class="form-check-label" for="stage_{{s}}"> {{s}} </label>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title text-success">Training</h5>
					</div>
					<div class="card-body">
						{% for s in services %}
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="training_{{s}}" />
							<label class="form-check-label" for="training_{{s}}"> {{s}} </label>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title text-success">Production</h5>
					</div>
					<div class="card-body">
						{% for s in services %}
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="prod_{{s}}" />
							<label class="form-check-label" for="prod_{{s}}"> {{s}} </label>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
	if (navigator.serviceWorker) {
		navigator.serviceWorker.getRegistrations().then((registration) => {
			if (registration?.length > 0) {
				console.log('Service worker is already registered:');
				document.getElementById('registerButton').style.display = 'none';
			} else {
				console.log('Service worker is not registered');
				document.getElementById('service-block').style.display = 'none';
			}
		});
	}

	const registerButton = document.getElementById('registerButton');
	registerButton.addEventListener('click', () => {
		registerServiceWorker(
			'/static/service-worker.js',
			"{{config['VAPID_PUBLIC_KEY']}}",
			'/service-worker/subscription',
			'Srabon'
		);
	});
</script>
{% endblock %}
