<html>
<head>
	<link rel="icon" href="https://gems.gov.bd/media/logos/bd-govt-bn.png">
    <script
		type="text/javascript" 
		src="/static/register-service-worker.js">
	</script>
</head>
<body>
	<h1>GEMS Production Deployment Status</h1>
	<button id="registerButton">Register</button>

	<script type="text/javascript">
		const registerButton = document.getElementById("registerButton");
		registerButton.addEventListener("click", () => {
			registerServiceWorker(
				"/static/service-worker.js",
				"{{config['VAPID_PUBLIC_KEY']}}",
				"/service-worker/subscription",
				"Srabon"
			);
		});
	</script>
</body>
</html>